<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>页面顶部</title>
	<style>
		body{margin:0;}
		.w1000{margin-left: auto;margin-right: auto;width: 1000px;}
		.top{height:120px;box-shadow:0 0 8px rgba(0,0,0,0.3);}
		.top-l{float:left;}
		.top-r{float:right;}
		
		.logo{margin-top:30px;}

		.top-tel{margin-top:40px;font-size:20px;font-family:\5FAE\8F6F\96C5\9ED1;color:#e63735;font-style:italic;}
		
	</style>
</head>
<body>
	
	<div class="top">
		<div class="w1000">
			<div class="top-l">
				<div class="logo"><a href=""><img src="images/logo.png" alt=""></a></div>
			</div>
			<div class="top-r">
				<div class="top-tel">
					<span>021-6353-6318</span>
				</div>				
			</div>
		</div>
	</div>

</body>
</html>